@reference "tailwindcss";

.top-nav a {
    background-color: #183664;
    color: white;

    @apply flex items-center;
}

.top-nav a ng-icon {
    @apply ml-2;
}

.top-nav a:first-child {
    background-color: #e02127;
}

.top-nav .logout-btn {
    cursor: pointer;
}

.top-nav a:not(:last-child) {
    @apply border-r-2 border-solid border-white;
}